body {
    font-family: "Poppins", sans-serif;
    background-color: #b9b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(loginbg.webp);
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
}

.login-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 350px;
}

.login-container h1 {
    font-size: 22px;
    color: black;
    text-align: center;

}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input  {
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #aaaaaa;
    padding-left: 10%;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.input_box i.email, .input_box i.password, .input_box i.username  {
    left: 0;
    color: #707070;
}

.input_box i.pw_hide {
    right: 0;
    color: #707070

}

button {
    background-color: #4B0082;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.9;
}

.register-container {
    text-align: center;
    margin-top: 20px;
}

.account-text {
    color: black;
    margin-right: 5px;
}

.register-link {
    color: #7d2ae8;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

#error-message {
    display: none;
    color: red;
    text-align: left;
    margin-top: 20px;
    font-size: 15px
}

.g-recaptcha {
    margin-top: 20px; /* Adjust the value as needed */
    margin-bottom: 20px; /* This ensures space between the captcha and the button */
}

.success-container {
    text-align: center; /* Centers all text and inline elements, including the button */
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#backButton {
    background-color: #4B0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block; /* Change from block to inline-block */
    text-align: center;
    width: 50%;
}